{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{dev_menu = globals().get('dev_menu', True)}}
{{extend 'Educa/layout_notlogged.html'}}

{{block content}}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="{{=URL('static','/images/logo.png')}}"
                 class="center-block img-responsive">

            <h1><a href="https://github.com/jonhnanthan/Educa/releases" target="_blank">Baixe Aqui a Aplicação</a></h1>
            <br>
            <br>
            <a href="{{=URL('default/user','login')}}" class="btn btn-default btn-lg">{{=T('Log In')}}</a>
            <a href="{{=URL('default','create_account')}}" class="btn btn-lg btn-default">{{=T('Register')}}</a>
        </div>
    </div>
</div>
{{end}}

{{if 'message' in globals():}}

{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

{{block right_sidebar}}
{{end}}
