<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.educa"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.educa" >
    </instrumentation>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.EducaTheme" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.educa.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.educa.activity.StudentHomeActivity"
            android:label="@string/student_home_activity" >
             
        </activity>
        <activity
            android:name="com.educa.activity.TeacherHomeActivity"
            android:label="@string/teacher_home_activity" >
            
        </activity>
        <activity
            android:name="com.educa.activity.ChooseModelActivity"
            android:label="@string/choose_model_activity"
            android:parentActivityName="com.educa.activity.TeacherHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.educa.activity.TeacherHomeActivity" />
        </activity>
        <activity
            android:name="com.educa.activity.CompleteExerciseStep1Activity"
            android:label="@string/complete_exercise_activity"
            android:parentActivityName="com.educa.activity.ChooseModelActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.educa.activity.ChooseModelActivity" />
        </activity>
        <activity
            android:name="com.educa.activity.CompleteExerciseStep2Activity"
            android:label="@string/complete_exercise_activity"
            
            
            
            
            android:parentActivityName="com.educa.activity.CompleteExerciseStep1Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.educa.activity.CompleteExerciseStep1Activity" />
        </activity>
        <activity
            android:name="com.educa.activity.CompleteExerciseStep3Activity"
            android:label="@string/complete_exercise_activity"
            android:parentActivityName="com.educa.activity.CompleteExerciseStep2Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.educa.activity.CompleteExerciseStep2Activity" />
        </activity>
        <activity
            android:name="com.educa.activity.MultipleChoiceExerciseStep1Activity"
            android:label="@string/match_exercise_activity"
            android:parentActivityName="com.educa.activity.ChooseModelActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.educa.activity.ChooseModelActivity" />
        </activity>
        <activity
            android:name="com.educa.activity.MultipleChoiceExerciseStep2Activity"
            android:label="@string/match_exercise_activity"
            android:parentActivityName="com.educa.activity.MultipleChoiceExerciseStep1Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.educa.activity.MatchExerciseActivity" />
        </activity>
        <activity
            android:name="com.educa.activity.MultipleChoiceExerciseStep3Activity"
            android:label="@string/match_exercise_activity"
            android:parentActivityName="com.educa.activity.MultipleChoiceExerciseStep2Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.educa.activity.MultipleChoiceExerciseStep2Activity" />
        </activity>
        <activity
            android:name="com.educa.activity.AnswerMultipleChoiceExercise"
            android:label="@string/match_exercise_activity"
            android:parentActivityName="com.educa.activity.StudentHomeActivity" >
        </activity>
        <activity
            android:name="com.educa.activity.AnswerCompleteExercise"
            android:label="@string/match_exercise_activity"
            android:parentActivityName="com.educa.activity.StudentHomeActivity" >
        </activity>
        <activity
            android:name="com.educa.activity.AnswerColorMatchExercise"
            android:label="@string/match_exercise_activity"
            android:parentActivityName="com.educa.activity.StudentHomeActivity" >
        </activity>
        <activity
            android:name="com.educa.activity.ColorMatchExerciseStep1Activity"
            android:label="@string/match_exercise_activity"
            android:parentActivityName="com.educa.activity.ChooseMatchExerciseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.educa.activity.ChooseMatchExerciseActivity" />
        </activity>
        <activity
            android:name="com.educa.activity.ChooseMatchExerciseActivity"
            android:label="@string/match_exercise_activity"
            android:parentActivityName="com.educa.activity.ChooseModelActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.educa.activity.ChooseModelActivity" />
        </activity>
        <activity
            android:name="com.educa.activity.ColorMatchExerciseStep2Activity"
            android:label="@string/match_exercise_activity"
            android:parentActivityName="com.educa.activity.ColorMatchExerciseStep1Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.educa.activity.ColorMatchExerciseStep1Activity" />
        </activity>
        <activity
            android:name="com.educa.activity.ColorMatchExerciseStep3Activity"
            android:label="@string/match_exercise_activity"
            android:parentActivityName="com.educa.activity.ColorMatchExerciseStep2Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.educa.activity.ColorMatchExerciseStep2Activity" />
        </activity>
        <activity
            android:name="com.educa.activity.ColorMatchExerciseStep4Activity"
            android:label="@string/match_exercise_activity"
            android:parentActivityName="com.educa.activity.ColorMatchExerciseStep3Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.educa.activity.ColorMatchExerciseStep3Activity" />
        </activity>
        <activity
            android:name="com.educa.activity.EditMultipleChoiceExerciseActivity"
            android:label="@string/match_exercise_activity"
            android:parentActivityName="com.educa.activity.TeacherHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.educa.activity.EditMultipleChoiceExerciseActivity" />
        </activity>
        <activity
            android:name="com.educa.activity.EditColorMatchExerciseActivity"
            android:label="@string/color_match"
            android:parentActivityName="com.educa.activity.TeacherHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.educa.activity.EditColorMatchExerciseActivity" />
        </activity>
        <activity
            android:name="com.educa.activity.EditCompleteExerciseStep1Activity"
            android:label="@string/complete_exercise_activity"
            android:parentActivityName="com.educa.activity.TeacherHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.educa.activity.TeacherHomeActivity" />
        </activity>
        <activity
            android:name="com.educa.activity.EditCompleteExerciseStep2Activity"
            android:label="@string/complete_exercise_activity"
            android:parentActivityName="com.educa.activity.EditCompleteExerciseStep1Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.educa.activity.EditCompleteExerciseStep1Activity" />
        </activity>
        <activity
            android:name="com.educa.activity.AboutActivity"
            android:label="@string/about"
            android:parentActivityName="com.educa.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.educa.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.educa.activity.HelpActivity"
            android:label="@string/help"
            android:parentActivityName="com.educa.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.educa.activity.MainActivity" />
        </activity>
    </application>

</manifest>