<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.educa"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.EducaTheme" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.educa.activity.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.educa.activity.StudentHomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/student_home_activity" >
             
        </activity>
        <activity
            android:name="com.educa.activity.Chat"
            android:screenOrientation="portrait"
            android:label="@string/student_home_activity" >

        </activity>
        <activity
            android:name="com.educa.activity.AnswerMultipleChoiceExercise"
            android:screenOrientation="portrait"
            android:label="@string/multiple_choice" >
            
        </activity>
        <activity
            android:name="com.educa.activity.AnswerMultipleCorrectChoiceExercise"
            android:screenOrientation="portrait"
            android:label="@string/multiple_choice" >
            
        </activity>
        <activity
            android:name="com.educa.activity.AnswerCompleteExercise"
            android:screenOrientation="portrait"
            android:label="@string/match_exercise_activity" >
        </activity>
        <activity
            android:name="com.educa.activity.AnswerColorMatchExercise"
            android:screenOrientation="portrait"
            android:label="@string/match_exercise_activity" >
            
        </activity>
        <activity
            android:name="com.educa.activity.AnswerNumberMatchExercise"
            android:screenOrientation="portrait"
            android:label="@string/match_exercise_activity" >
            
        </activity>
        <activity
            android:name="com.educa.activity.AnswerImageMatchExercise"
            android:screenOrientation="portrait"
            android:label="@string/match_exercise_activity" >
            
        </activity>
        <activity
            android:name="com.educa.activity.AboutActivity"
            android:screenOrientation="portrait"
            android:label="@string/about" >
        </activity>
        <activity
            android:name="com.educa.activity.HelpActivity"
            android:screenOrientation="portrait"
            android:label="@string/help" >
        </activity>
    </application>

</manifest>