{{extend 'professor/layout_professor.html'}}

{{block content}}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="col-lg-12">
        <form class="form-horizontal" role="form">
            <fieldset class="form-complete">
                 <!-- Form Name -->
                    <legend>Atividade Image Match</legend>
                <!-- Text input-->
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label" for="Nome">Nome</label>
                    </div>
                    <div class="col-sm-10">
                        <input id="Nome" name="Nome" type="text" placeholder="Digite um nome para a sua atividade" class="form-control"
                               required="">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label" for="Pergunta">Pergunta</label>
                    </div>
                    <div class="col-sm-10">
                        <input id="Pergunta" name="Pergunta" type="text" placeholder="Digite aqui a sua pergunta" class="form-control"
                               required="">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label" for="Pasta">Pasta</label>
                    </div>
                    <div class="col-sm-10">
                        <input id="Pasta" name="Pasta" type="text" placeholder="Digite o Nome da Pasta" class="form-control"
                               required="">
                    </div>
                </div>

                <!-- Color input-->

                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="control-label" for="Image">Escolha a Imagem</label>
                    </div>
                    <div  class="col-sm-3">
                        <input type="radio" id="Image" name="Image" class="radio-inline no_indent form-control"   
                               value="abacaxi.png">
                        <img width="30%" src="{{=URL('static','/images/image_match/abacaxi.png')}}">
                        <br>
                    </div>
                    <div  class="col-sm-3">
                        <input type="radio" id="Image" name="Image" class="radio-inline no_indent form-control"   
                               value="abelha.png">
                        <img width="30%" src="{{=URL('static','/images/image_match/abelha.png')}}">
                        <br>
                    </div>
                    <div  class="col-sm-3">
                        <input type="radio" id="Image" name="Image" class="radio-inline no_indent form-control"   
                               value="arvore.png">
                        <img width="30%" src="{{=URL('static','/images/image_match/arvore.png')}}">
                        <br>
                    </div>
                    <div  class="col-sm-3">
                        <input type="radio" id="Image" name="Image" class="radio-inline no_indent form-control"
                               value="elefante.png">
                        <img width="30%" src="{{=URL('static','/images/image_match/elefante.png')}}">
                        <br>
                    </div>
                    <div  class="col-sm-3">
                        <input type="radio" id="Image" name="Image" class="radio-inline no_indent form-control"
                               value="escada.png">
                        <img width="30%" src="{{=URL('static','/images/image_match/escada.png')}}">
                        <br>
                    </div>
                    <div  class="col-sm-3">
                        <input type="radio" id="Image" name="Image" class="radio-inline no_indent form-control"
                               value="estrela.png">
                        <img width="30%" src="{{=URL('static','/images/image_match/estrela.png')}}">
                        <br>
                    </div>
                    <div  class="col-sm-3">
                        <input type="radio" id="Image" name="Image" class="radio-inline no_indent form-control"
                               value="igreja.png">
                        <img width="30%" src="{{=URL('static','/images/image_match/igreja.png')}}">
                        <br>
                    </div>
                    <div  class="col-sm-3">
                        <input type="radio" id="Image" name="Image" class="radio-inline no_indent form-control"
                               value="ima.png">
                        <img width="30%" src="{{=URL('static','/images/image_match/ima.png')}}">
                        <br>
                    </div>
                    <div  class="col-sm-3">
                        <input type="radio" id="Image" name="Image" class="radio-inline no_indent form-control"
                               value="olho.png">
                        <img width="30%" src="{{=URL('static','/images/image_match/olho.png')}}">
                        <br>
                    </div>
                    <div  class="col-sm-3">
                        <input type="radio" id="Image" name="Image" class="radio-inline no_indent form-control"
                               value="osso.png">
                        <img width="30%" src="{{=URL('static','/images/image_match/osso.png')}}">
                        <br>
                    </div>
                    <div  class="col-sm-3">
                        <input type="radio" id="Image" name="Image" class="radio-inline no_indent form-control"
                               value="ovo.png">
                        <img width="30%" src="{{=URL('static','/images/image_match/ovo.png')}}">
                        <br>
                    </div>
                    <div  class="col-sm-3">
                        <input type="radio" id="Image" name="Image" class="radio-inline no_indent form-control"
                               value="um.png">
                        <img width="30%" src="{{=URL('static','/images/image_match/um.png')}}">
                        <br>
                    </div>
                    <div  class="col-sm-3">
                        <input type="radio" id="Image" name="Image" class="radio-inline no_indent form-control"
                               value="urso.png">
                        <img width="30%" src="{{=URL('static','/images/image_match/urso.png')}}">
                        <br>
                    </div>
                    <div  class="col-sm-3">
                        <input type="radio" id="Image" name="Image" class="radio-inline no_indent form-control"
                               value="uva.png">
                        <img width="30%" src="{{=URL('static','/images/image_match/uva.png')}}">
                        <br>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label" for="Resposta">Resposta</label>
                    </div>
                    <div class="col-sm-10">
                        <input id="Resposta" name="Resposta" type="text" placeholder="Digite a resposta correta para a pergunta" class="form-control"
                               required="">

                    </div>
                </div>




                <!-- Button -->
                <div class="control-group">
                    <label class="control-label" for="enviar"></label>

                    <div class="controls">
                        <button id="enviar" name="enviar" class="btn btn-success">Enviar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{{end content}}